<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación [ASP.NET](http://ASP.NET), visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<connectionStrings>
		<add name="Firmador"
			 connectionString="Data Source=DESKTOP-AH8SA5L\MSSQLSERVER2022;Initial Catalog=Firmador;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="Administracion"
			 connectionString="Data Source=DESKTOP-AH8SA5L\MSSQLSERVER2022;Initial Catalog=administracion;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="FirmadorArchivos"
			 connectionString="Data Source=DESKTOP-AH8SA5L\MSSQLSERVER2022;Initial Catalog=Firmador_Archivos;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="20480"/>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			  warningLevel="4"/>
		</compilers>
	</system.codedom>
</configuration>