USE [Firmador]
GO
/****** Object:  Table [dbo].[FIR_UsuarioPrueba]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_UsuarioPrueba](
	[IDUsuarioPrueba] [int] IDENTITY(1,1) NOT NULL,
	[LoginUsuario] [varchar](15) NOT NULL,
	[NombreCompleto] [varchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[CodigoRol] [varchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_UsuarioPrueba] PRIMARY KEY CLUSTERED 
(
	[IDUsuarioPrueba] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FIR_VW_UsuariosPrueba]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_UsuariosPrueba] AS
SELECT
    IDUsuarioPrueba AS IDEmpleado,
    LoginUsuario    AS CodigoPersonal,
    NombreCompleto,
    LoginUsuario,
    Email,
    CodigoRol
FROM dbo.FIR_UsuarioPrueba
WHERE Activo = 1;
GO
/****** Object:  Table [dbo].[FIR_Maestro]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_Maestro](
	[IDMaestro] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_Maestro] PRIMARY KEY CLUSTERED 
(
	[IDMaestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIR_Documento]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_Documento](
	[IDDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Asunto] [varchar](300) NOT NULL,
	[CodigoTipoDocumento] [varchar](20) NOT NULL,
	[AreaResponsable] [varchar](150) NOT NULL,
	[FechaDocumento] [date] NOT NULL,
	[CodigoDocumento] [varchar](50) NOT NULL,
	[RutaArchivoPDF] [varchar](500) NOT NULL,
	[IDArchivoPDF] [int] NULL,
	[CodigoEstado] [varchar](20) NOT NULL,
	[Version] [int] NOT NULL,
	[Orientacion] [char](1) NOT NULL,
	[LoginRegistrador] [varchar](15) NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
	[FechaUltimaAccion] [smalldatetime] NULL,
	[FechaLimiteRevision] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_Documento] PRIMARY KEY CLUSTERED 
(
	[IDDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FIR_VW_BandejaRegistrador]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_BandejaRegistrador] AS
SELECT
    d.IDDocumento, d.Asunto, d.CodigoDocumento,
    m_t.Descripcion AS TipoDocumento,
    d.AreaResponsable,
    m_e.Descripcion AS Estado,
    d.CodigoEstado, d.Version,
    d.LoginRegistrador, d.FechaCreacion, d.FechaUltimaAccion
FROM dbo.FIR_Documento d
LEFT JOIN dbo.FIR_Maestro m_e ON m_e.Tipo='ESTADO_DOC' AND m_e.Codigo=d.CodigoEstado
LEFT JOIN dbo.FIR_Maestro m_t ON m_t.Tipo='TIPO_DOC'   AND m_t.Codigo=d.CodigoTipoDocumento;
GO
/****** Object:  Table [dbo].[FIR_DocumentoRevisor]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_DocumentoRevisor](
	[IDDocumentoRevisor] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NOT NULL,
	[LoginUsuario] [varchar](15) NOT NULL,
	[NombreRevisor] [varchar](200) NOT NULL,
	[CorreoRevisor] [varchar](200) NOT NULL,
	[DiasMaxRevision] [int] NOT NULL,
	[FechaLimite] [smalldatetime] NULL,
	[Completado] [bit] NOT NULL,
	[CodigoResultado] [varchar](20) NULL,
	[FechaRevision] [smalldatetime] NULL,
	[Version] [int] NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_DocumentoRevisor] PRIMARY KEY CLUSTERED 
(
	[IDDocumentoRevisor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FIR_VW_BandejaRevisor]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_BandejaRevisor] AS
SELECT
    d.IDDocumento, d.Asunto, d.CodigoDocumento,
    m_e.Descripcion AS Estado,
    d.CodigoEstado,
    dr.LoginUsuario, dr.Completado, dr.CodigoResultado,
    dr.FechaLimite, d.FechaCreacion
FROM dbo.FIR_Documento d
INNER JOIN dbo.FIR_DocumentoRevisor dr ON d.IDDocumento=dr.IDDocumento
LEFT JOIN  dbo.FIR_Maestro m_e ON m_e.Tipo='ESTADO_DOC' AND m_e.Codigo=d.CodigoEstado
WHERE dr.Version = d.Version;
GO
/****** Object:  Table [dbo].[FIR_DocumentoFirmante]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_DocumentoFirmante](
	[IDDocumentoFirmante] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NOT NULL,
	[LoginUsuario] [varchar](15) NOT NULL,
	[NombreFirmante] [varchar](200) NOT NULL,
	[CorreoFirmante] [varchar](200) NOT NULL,
	[OrdenFirma] [int] NOT NULL,
	[CodigoRolFirmante] [varchar](20) NOT NULL,
	[CodigoEstadoFirma] [varchar](20) NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[FechaFirma] [smalldatetime] NULL,
	[RutaFirmaParcial] [varchar](500) NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_DocumentoFirmante] PRIMARY KEY CLUSTERED 
(
	[IDDocumentoFirmante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FIR_VW_BandejaFirmador]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_BandejaFirmador] AS
SELECT
    d.IDDocumento, d.Asunto, d.CodigoDocumento,
    m_e.Descripcion AS Estado,
    d.CodigoEstado,
    df.LoginUsuario, df.OrdenFirma, df.CodigoEstadoFirma,
    df.Habilitado, df.FechaFirma, d.FechaCreacion
FROM dbo.FIR_Documento d
INNER JOIN dbo.FIR_DocumentoFirmante df ON d.IDDocumento=df.IDDocumento
LEFT JOIN  dbo.FIR_Maestro m_e ON m_e.Tipo='ESTADO_DOC' AND m_e.Codigo=d.CodigoEstado;
GO
/****** Object:  View [dbo].[FIR_VW_DocumentoResumen]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_DocumentoResumen] AS
SELECT
    d.IDDocumento, d.Asunto, d.CodigoDocumento,
    m_t.Descripcion AS TipoDocumento,
    d.AreaResponsable, d.FechaDocumento,
    d.LoginRegistrador, d.Version, d.Orientacion,
    m_e.Descripcion AS Estado,
    d.CodigoEstado, d.FechaCreacion, d.FechaUltimaAccion,
    (SELECT COUNT(*) FROM dbo.FIR_DocumentoRevisor dr
     WHERE dr.IDDocumento=d.IDDocumento AND dr.Version=d.Version)                        AS TotalRevisores,
    (SELECT COUNT(*) FROM dbo.FIR_DocumentoRevisor dr
     WHERE dr.IDDocumento=d.IDDocumento AND dr.Version=d.Version AND dr.Completado=1)    AS RevisoresCompletados,
    (SELECT COUNT(*) FROM dbo.FIR_DocumentoFirmante df
     WHERE df.IDDocumento=d.IDDocumento)                                                 AS TotalFirmantes,
    (SELECT COUNT(*) FROM dbo.FIR_DocumentoFirmante df
     WHERE df.IDDocumento=d.IDDocumento AND df.CodigoEstadoFirma='FIR')                 AS FirmantesCompletados
FROM dbo.FIR_Documento d
LEFT JOIN dbo.FIR_Maestro m_e ON m_e.Tipo='ESTADO_DOC' AND m_e.Codigo=d.CodigoEstado
LEFT JOIN dbo.FIR_Maestro m_t ON m_t.Tipo='TIPO_DOC'   AND m_t.Codigo=d.CodigoTipoDocumento;
GO
/****** Object:  Table [dbo].[FIR_FirmaDigital]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_FirmaDigital](
	[IDFirmaDigital] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NOT NULL,
	[IDDocumentoFirmante] [int] NOT NULL,
	[HashFirma] [varchar](500) NOT NULL,
	[CertificadoSN] [varchar](200) NULL,
	[CertificadoDNI] [varchar](20) NULL,
	[MotivoFirma] [varchar](300) NULL,
	[FirmaValida] [bit] NOT NULL,
	[RespuestaMotorFirma] [varchar](2000) NULL,
	[RutaPDFFirmado] [varchar](500) NULL,
	[IDArchivoPDFFirmado] [int] NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_FirmaDigital] PRIMARY KEY CLUSTERED 
(
	[IDFirmaDigital] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FIR_VW_TimelineFirma]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_TimelineFirma] AS
SELECT
    df.IDDocumento, d.CodigoDocumento, d.Asunto,
    df.OrdenFirma, df.NombreFirmante, df.CorreoFirmante,
    df.CodigoRolFirmante,
    m_r.Descripcion  AS RolFirmante,
    df.CodigoEstadoFirma,
    m_ef.Descripcion AS EstadoFirma,
    df.Habilitado, df.FechaFirma,
    fd.FirmaValida, fd.CertificadoDNI, fd.HashFirma,
    m_e.Descripcion  AS EstadoDocumento
FROM dbo.FIR_DocumentoFirmante df
INNER JOIN dbo.FIR_Documento d      ON df.IDDocumento=d.IDDocumento
LEFT JOIN  dbo.FIR_FirmaDigital fd  ON df.IDDocumentoFirmante=fd.IDDocumentoFirmante
LEFT JOIN  dbo.FIR_Maestro m_r      ON m_r.Tipo='ROL_FIRMANTE'  AND m_r.Codigo=df.CodigoRolFirmante
LEFT JOIN  dbo.FIR_Maestro m_ef     ON m_ef.Tipo='ESTADO_FIRMA' AND m_ef.Codigo=df.CodigoEstadoFirma
LEFT JOIN  dbo.FIR_Maestro m_e      ON m_e.Tipo='ESTADO_DOC'    AND m_e.Codigo=d.CodigoEstado;
GO
/****** Object:  Table [dbo].[FIR_DocumentoAuditoria]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_DocumentoAuditoria](
	[IDDocumentoAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NULL,
	[IDUsuario] [varchar](15) NOT NULL,
	[NombreUsuario] [varchar](200) NULL,
	[IDEquipo] [varchar](50) NULL,
	[TipoOperacion] [char](1) NULL,
	[TipoAccion] [varchar](100) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
	[FechaCambio] [smalldatetime] NOT NULL,
 CONSTRAINT [pk_FIR_DocumentoAuditoria] PRIMARY KEY CLUSTERED 
(
	[IDDocumentoAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FIR_VW_AuditoriaCompleta]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_AuditoriaCompleta] AS
SELECT
    a.IDDocumentoAuditoria,
    a.IDDocumento, d.CodigoDocumento, d.Asunto,
    a.IDUsuario, a.NombreUsuario, a.IDEquipo,
    a.TipoOperacion, a.TipoAccion, a.Descripcion, a.FechaCambio
FROM dbo.FIR_DocumentoAuditoria a
LEFT JOIN dbo.FIR_Documento d ON a.IDDocumento=d.IDDocumento;
GO
/****** Object:  View [dbo].[FIR_VW_EmpleadosActivos]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FIR_VW_EmpleadosActivos] AS
SELECT
    e.IDEmpleado,
    e.CodigoPersonal,
    e.Apellido,
    e.Nombre,
    e.Apellido + ', ' + e.Nombre AS NombreCompleto,
    e.LoginUsuario,
    CASE
        WHEN e.Email IS NULL OR LTRIM(RTRIM(e.Email)) = ''
        THEN e.LoginUsuario + '@zofratacna.com.pe'
        ELSE e.Email
    END AS Email,
    e.IDUnidadOrganica,
    e.IDCargo,
    e.IDSede,
    e.IdRol,
    -- Mapear IdRol numerico a codigo texto
    CASE e.IdRol
        WHEN 1 THEN 'ADMIN'
        WHEN 2 THEN 'REGISTRADOR'
        WHEN 3 THEN 'FIRMADOR'
        ELSE 'FIRMADOR'
    END AS CodigoRol
FROM [administracion].[dbo].[Empleado] e
WHERE e.ActivoAsist = 1;

GO
/****** Object:  View [dbo].[FIR_VW_UsuarioSesion]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[FIR_VW_UsuarioSesion] AS
SELECT
    e.LoginUsuario,
    e.NombreCompleto,
    e.Email,
    e.CodigoRol,
    m.Descripcion AS DescripcionRol,
    CASE e.CodigoRol
        WHEN 'ADMIN'       THEN '/Admin/Dashboard.aspx'
        WHEN 'REGISTRADOR' THEN '/Tramites/Bandeja.aspx'
        WHEN 'FIRMADOR'    THEN '/Tramites/Bandeja.aspx'
        ELSE '/Default.aspx'
    END AS UrlDashboard
FROM dbo.FIR_VW_EmpleadosActivos e
LEFT JOIN dbo.FIR_Maestro m 
    ON m.Tipo='ROL_SISTEMA' AND m.Codigo=e.CodigoRol;

GO
/****** Object:  View [dbo].[FIR_VW_UsuarioSesionPrueba]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[FIR_VW_UsuarioSesionPrueba] AS
SELECT
    u.LoginUsuario,
    u.NombreCompleto,
    u.Email,
    u.CodigoRol,
    m.Descripcion AS DescripcionRol,
    CASE u.CodigoRol
        WHEN 'ADMIN'       THEN '/Admin/Dashboard.aspx'
        WHEN 'REGISTRADOR' THEN '/Tramites/Bandeja.aspx'
        WHEN 'FIRMADOR'    THEN '/Tramites/Bandeja.aspx'
        ELSE '/Default.aspx'
    END AS UrlDashboard
FROM dbo.FIR_UsuarioPrueba u
LEFT JOIN dbo.FIR_Maestro m ON m.Tipo='ROL_SISTEMA' AND m.Codigo=u.CodigoRol
WHERE u.Activo = 1;
GO
/****** Object:  Table [dbo].[FIR_Conformidad]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_Conformidad](
	[IDConformidad] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NOT NULL,
	[LoginUsuario] [varchar](15) NOT NULL,
	[NombreRevisor] [varchar](200) NOT NULL,
	[Comentario] [varchar](1000) NOT NULL,
	[Version] [int] NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_Conformidad] PRIMARY KEY CLUSTERED 
(
	[IDConformidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIR_Observacion]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_Observacion](
	[IDObservacion] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NOT NULL,
	[LoginUsuario] [varchar](15) NOT NULL,
	[NombreRevisor] [varchar](200) NOT NULL,
	[Descripcion] [varchar](2000) NOT NULL,
	[Version] [int] NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_Observacion] PRIMARY KEY CLUSTERED 
(
	[IDObservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIR_UsuarioRol]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_UsuarioRol](
	[IDUsuarioRol] [int] IDENTITY(1,1) NOT NULL,
	[LoginUsuario] [varchar](15) NOT NULL,
	[CodigoRol] [varchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[IDUsuarioRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIR_VersionDocumento]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIR_VersionDocumento](
	[IDVersion] [int] IDENTITY(1,1) NOT NULL,
	[IDDocumento] [int] NOT NULL,
	[NumeroVersion] [int] NOT NULL,
	[RutaArchivo] [varchar](500) NOT NULL,
	[IDArchivoVersion] [int] NULL,
	[Motivo] [varchar](500) NULL,
	[IDUsuarioCreador] [varchar](15) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[IDUsuarioModificador] [varchar](15) NULL,
	[FechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [pk_FIR_VersionDocumento] PRIMARY KEY CLUSTERED 
(
	[IDVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FIR_Conformidad] ON 

INSERT [dbo].[FIR_Conformidad] ([IDConformidad], [IDDocumento], [LoginUsuario], [NombreRevisor], [Comentario], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, 6, N'firm02', N'Firmador, Dos, Firmador', N'CONFORME', 1, N'firm02', CAST(N'2026-04-28T23:07:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_Conformidad] ([IDConformidad], [IDDocumento], [LoginUsuario], [NombreRevisor], [Comentario], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (2, 7, N'firm02', N'Firmador, Dos, Firmador', N'CONFORME', 1, N'firm02', CAST(N'2026-04-28T23:14:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_Conformidad] ([IDConformidad], [IDDocumento], [LoginUsuario], [NombreRevisor], [Comentario], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (3, 8, N'firm01', N'Firmador, Uno, Firmador', N'CONFORME', 1, N'firm01', CAST(N'2026-04-28T23:26:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_Conformidad] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_Documento] ON 

SET IDENTITY_INSERT [dbo].[FIR_Documento] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_DocumentoAuditoria] ON 

INSERT [dbo].[FIR_DocumentoAuditoria] ([IDDocumentoAuditoria], [IDDocumento], [IDUsuario], [NombreUsuario], [IDEquipo], [TipoOperacion], [TipoAccion], [Descripcion], [FechaCambio]) VALUES (1, 1, N'reg01', NULL, N'::1', N'I', N'REGISTRO', N'Documento registrado. Estado: Registrado', CAST(N'2026-04-26T19:48:00' AS SmallDateTime))
INSERT [dbo].[FIR_DocumentoAuditoria] ([IDDocumentoAuditoria], [IDDocumento], [IDUsuario], [NombreUsuario], [IDEquipo], [TipoOperacion], [TipoAccion], [Descripcion], [FechaCambio]) VALUES (2, 1, N'reg01', NULL, N'::1', N'M', N'INICIO_REVISION', N'Revisores y firmantes definidos. Estado: En Revision', CAST(N'2026-04-26T19:48:00' AS SmallDateTime))
INSERT [dbo].[FIR_DocumentoAuditoria] ([IDDocumentoAuditoria], [IDDocumento], [IDUsuario], [NombreUsuario], [IDEquipo], [TipoOperacion], [TipoAccion], [Descripcion], [FechaCambio]) VALUES (3, NULL, N'reg01', NULL, N'::1', N'I', N'REGISTRO', N'Documento registrado. Estado: Registrado', CAST(N'2026-04-27T00:12:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[FIR_DocumentoAuditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_DocumentoFirmante] ON 

INSERT [dbo].[FIR_DocumentoFirmante] ([IDDocumentoFirmante], [IDDocumento], [LoginUsuario], [NombreFirmante], [CorreoFirmante], [OrdenFirma], [CodigoRolFirmante], [CodigoEstadoFirma], [Habilitado], [FechaFirma], [RutaFirmaParcial], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, 1, N'reg01', N'Registrador, Sistema', N'reg01@zofratacna.com.pe', 0, N'AUT', N'PEN', 0, NULL, NULL, N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_DocumentoFirmante] ([IDDocumentoFirmante], [IDDocumento], [LoginUsuario], [NombreFirmante], [CorreoFirmante], [OrdenFirma], [CodigoRolFirmante], [CodigoEstadoFirma], [Habilitado], [FechaFirma], [RutaFirmaParcial], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (2, 1, N'admin01', N'Admin, Principal', N'admin@zofratacna.com.pe', 1, N'VB', N'PEN', 0, NULL, NULL, N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_DocumentoFirmante] ([IDDocumentoFirmante], [IDDocumento], [LoginUsuario], [NombreFirmante], [CorreoFirmante], [OrdenFirma], [CodigoRolFirmante], [CodigoEstadoFirma], [Habilitado], [FechaFirma], [RutaFirmaParcial], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (3, 1, N'firm01', N'Firmador, Uno', N'firm01@zofratacna.com.pe', 2, N'VB', N'PEN', 0, NULL, NULL, N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_DocumentoFirmante] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_DocumentoRevisor] ON 

INSERT [dbo].[FIR_DocumentoRevisor] ([IDDocumentoRevisor], [IDDocumento], [LoginUsuario], [NombreRevisor], [CorreoRevisor], [DiasMaxRevision], [FechaLimite], [Completado], [CodigoResultado], [FechaRevision], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, 1, N'reg01', N'Registrador, Sistema', N'reg01@zofratacna.com.pe', 3, CAST(N'2026-04-29T19:48:00' AS SmallDateTime), 0, NULL, NULL, 1, N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_DocumentoRevisor] ([IDDocumentoRevisor], [IDDocumento], [LoginUsuario], [NombreRevisor], [CorreoRevisor], [DiasMaxRevision], [FechaLimite], [Completado], [CodigoResultado], [FechaRevision], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (2, 1, N'admin01', N'Admin, Principal', N'admin@zofratacna.com.pe', 3, CAST(N'2026-04-29T19:48:00' AS SmallDateTime), 0, NULL, NULL, 1, N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_DocumentoRevisor] ([IDDocumentoRevisor], [IDDocumento], [LoginUsuario], [NombreRevisor], [CorreoRevisor], [DiasMaxRevision], [FechaLimite], [Completado], [CodigoResultado], [FechaRevision], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (3, 1, N'firm01', N'Firmador, Uno', N'firm01@zofratacna.com.pe', 3, CAST(N'2026-04-29T19:48:00' AS SmallDateTime), 1, N'OBS', CAST(N'2026-04-28T23:05:00' AS SmallDateTime), 1, N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), N'firm01', CAST(N'2026-04-28T23:05:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[FIR_DocumentoRevisor] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_Maestro] ON 

INSERT [dbo].[FIR_Maestro] ([IDMaestro], [Tipo], [Codigo], [Descripcion], [Orden], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, N'ESTADO_DOC', N'REG', N'Registrado', 1, 1, N'SISTEMA', CAST(N'2026-04-24T23:38:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_Maestro] ([IDMaestro], [Tipo], [Codigo], [Descripcion], [Orden], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (2, N'ESTADO_DOC', N'EN_REV', N'En Revision', 2, 1, N'SISTEMA', CAST(N'2026-04-24T23:38:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_Maestro] ([IDMaestro], [Tipo], [Codigo], [Descripcion], [Orden], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (3, N'ESTADO_DOC', N'OBS', N'Observado', 3, 1, N'SISTEMA', CAST(N'2026-04-24T23:38:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_Maestro] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_Observacion] ON 

INSERT [dbo].[FIR_Observacion] ([IDObservacion], [IDDocumento], [LoginUsuario], [NombreRevisor], [Descripcion], [Version], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, 1, N'firm01', N'Firmador, Uno, Firmador', N'mal', 1, N'firm01', CAST(N'2026-04-28T23:05:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_Observacion] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_UsuarioPrueba] ON 

INSERT [dbo].[FIR_UsuarioPrueba] ([IDUsuarioPrueba], [LoginUsuario], [NombreCompleto], [Email], [CodigoRol], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, N'admin01', N'Administrador Sistema', N'admin@zofratacna.com.pe', N'ADMIN', 1, N'SISTEMA', CAST(N'2026-04-24T23:38:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_UsuarioPrueba] ([IDUsuarioPrueba], [LoginUsuario], [NombreCompleto], [Email], [CodigoRol], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (2, N'reg01', N'Registrador Uno', N'reg01@zofratacna.com.pe', N'REGISTRADOR', 1, N'SISTEMA', CAST(N'2026-04-24T23:38:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_UsuarioPrueba] ([IDUsuarioPrueba], [LoginUsuario], [NombreCompleto], [Email], [CodigoRol], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (5, N'firm01', N'Firmador Uno', N'firm01@zofratacna.com.pe', N'FIRMADOR', 1, N'SISTEMA', CAST(N'2026-04-24T23:38:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_UsuarioPrueba] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_UsuarioRol] ON 

INSERT [dbo].[FIR_UsuarioRol] ([IDUsuarioRol], [LoginUsuario], [CodigoRol], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (7, N'admin01', N'ADMIN', 1, N'SISTEMA', CAST(N'2026-04-26T23:08:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_UsuarioRol] ([IDUsuarioRol], [LoginUsuario], [CodigoRol], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (8, N'reg01', N'REGISTRADOR', 1, N'SISTEMA', CAST(N'2026-04-26T23:08:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_UsuarioRol] ([IDUsuarioRol], [LoginUsuario], [CodigoRol], [Activo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (9, N'firm01', N'FIRMADOR', 1, N'SISTEMA', CAST(N'2026-04-26T23:08:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_UsuarioRol] OFF
GO
SET IDENTITY_INSERT [dbo].[FIR_VersionDocumento] ON 

INSERT [dbo].[FIR_VersionDocumento] ([IDVersion], [IDDocumento], [NumeroVersion], [RutaArchivo], [IDArchivoVersion], [Motivo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (1, 1, 1, N'ARC::1', NULL, N'Version inicial', N'reg01', CAST(N'2026-04-26T19:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_VersionDocumento] ([IDVersion], [IDDocumento], [NumeroVersion], [RutaArchivo], [IDArchivoVersion], [Motivo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (3, 3, 1, N'ARC::3', NULL, N'Version inicial', N'reg01', CAST(N'2026-04-27T00:24:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[FIR_VersionDocumento] ([IDVersion], [IDDocumento], [NumeroVersion], [RutaArchivo], [IDArchivoVersion], [Motivo], [IDUsuarioCreador], [FechaCreacion], [IDUsuarioModificador], [FechaModificacion]) VALUES (4, 4, 1, N'ARC::5', NULL, N'Version inicial', N'scalisaya', CAST(N'2026-04-28T21:28:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FIR_VersionDocumento] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_FIR_Documento_Codigo]    Script Date: 29/04/2026 11:34:14 ******/
ALTER TABLE [dbo].[FIR_Documento] ADD  CONSTRAINT [uq_FIR_Documento_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_FIR_Maestro_TipoCodigo]    Script Date: 29/04/2026 11:34:14 ******/
ALTER TABLE [dbo].[FIR_Maestro] ADD  CONSTRAINT [uq_FIR_Maestro_TipoCodigo] UNIQUE NONCLUSTERED 
(
	[Tipo] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_FIR_UsuarioPrueba_Login]    Script Date: 29/04/2026 11:34:14 ******/
ALTER TABLE [dbo].[FIR_UsuarioPrueba] ADD  CONSTRAINT [uq_FIR_UsuarioPrueba_Login] UNIQUE NONCLUSTERED 
(
	[LoginUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_FIR_UsuarioRol_Login]    Script Date: 29/04/2026 11:34:14 ******/
ALTER TABLE [dbo].[FIR_UsuarioRol] ADD  CONSTRAINT [uq_FIR_UsuarioRol_Login] UNIQUE NONCLUSTERED 
(
	[LoginUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FIR_Conformidad] ADD  DEFAULT ('CONFORME') FOR [Comentario]
GO
ALTER TABLE [dbo].[FIR_Conformidad] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[FIR_Conformidad] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_Documento] ADD  DEFAULT ('REG') FOR [CodigoEstado]
GO
ALTER TABLE [dbo].[FIR_Documento] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[FIR_Documento] ADD  DEFAULT ('V') FOR [Orientacion]
GO
ALTER TABLE [dbo].[FIR_Documento] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_DocumentoAuditoria] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] ADD  DEFAULT ('VB') FOR [CodigoRolFirmante]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] ADD  DEFAULT ('PEN') FOR [CodigoEstadoFirma]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] ADD  DEFAULT ((0)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor] ADD  DEFAULT ((3)) FOR [DiasMaxRevision]
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor] ADD  DEFAULT ((0)) FOR [Completado]
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_FirmaDigital] ADD  DEFAULT ((0)) FOR [FirmaValida]
GO
ALTER TABLE [dbo].[FIR_FirmaDigital] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_Maestro] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[FIR_Maestro] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FIR_Maestro] ADD  DEFAULT ('SISTEMA') FOR [IDUsuarioCreador]
GO
ALTER TABLE [dbo].[FIR_Maestro] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_Observacion] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[FIR_Observacion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_UsuarioPrueba] ADD  DEFAULT ('REGISTRADOR') FOR [CodigoRol]
GO
ALTER TABLE [dbo].[FIR_UsuarioPrueba] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FIR_UsuarioPrueba] ADD  DEFAULT ('SISTEMA') FOR [IDUsuarioCreador]
GO
ALTER TABLE [dbo].[FIR_UsuarioPrueba] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_UsuarioRol] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FIR_UsuarioRol] ADD  DEFAULT ('SISTEMA') FOR [IDUsuarioCreador]
GO
ALTER TABLE [dbo].[FIR_UsuarioRol] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_VersionDocumento] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FIR_Conformidad]  WITH CHECK ADD  CONSTRAINT [fk_FIR_Conformidad_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_Conformidad] CHECK CONSTRAINT [fk_FIR_Conformidad_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_DocumentoAuditoria]  WITH CHECK ADD  CONSTRAINT [fk_FIR_DocumentoAuditoria_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_DocumentoAuditoria] CHECK CONSTRAINT [fk_FIR_DocumentoAuditoria_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante]  WITH CHECK ADD  CONSTRAINT [fk_FIR_DocumentoFirmante_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] CHECK CONSTRAINT [fk_FIR_DocumentoFirmante_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor]  WITH CHECK ADD  CONSTRAINT [fk_FIR_DocumentoRevisor_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor] CHECK CONSTRAINT [fk_FIR_DocumentoRevisor_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_FirmaDigital]  WITH CHECK ADD  CONSTRAINT [fk_FIR_FirmaDigital_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_FirmaDigital] CHECK CONSTRAINT [fk_FIR_FirmaDigital_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_FirmaDigital]  WITH CHECK ADD  CONSTRAINT [fk_FIR_FirmaDigital_FIR_DocumentoFirmante] FOREIGN KEY([IDDocumentoFirmante])
REFERENCES [dbo].[FIR_DocumentoFirmante] ([IDDocumentoFirmante])
GO
ALTER TABLE [dbo].[FIR_FirmaDigital] CHECK CONSTRAINT [fk_FIR_FirmaDigital_FIR_DocumentoFirmante]
GO
ALTER TABLE [dbo].[FIR_Observacion]  WITH CHECK ADD  CONSTRAINT [fk_FIR_Observacion_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_Observacion] CHECK CONSTRAINT [fk_FIR_Observacion_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_VersionDocumento]  WITH CHECK ADD  CONSTRAINT [fk_FIR_VersionDocumento_FIR_Documento] FOREIGN KEY([IDDocumento])
REFERENCES [dbo].[FIR_Documento] ([IDDocumento])
GO
ALTER TABLE [dbo].[FIR_VersionDocumento] CHECK CONSTRAINT [fk_FIR_VersionDocumento_FIR_Documento]
GO
ALTER TABLE [dbo].[FIR_Documento]  WITH CHECK ADD  CONSTRAINT [ch_FIR_Documento_Orientacion] CHECK  (([Orientacion]='V' OR [Orientacion]='H'))
GO
ALTER TABLE [dbo].[FIR_Documento] CHECK CONSTRAINT [ch_FIR_Documento_Orientacion]
GO
ALTER TABLE [dbo].[FIR_DocumentoAuditoria]  WITH CHECK ADD  CONSTRAINT [ch_FIR_DocumentoAuditoria_TipoOp] CHECK  (([TipoOperacion]='E' OR [TipoOperacion]='M' OR [TipoOperacion]='I' OR [TipoOperacion] IS NULL))
GO
ALTER TABLE [dbo].[FIR_DocumentoAuditoria] CHECK CONSTRAINT [ch_FIR_DocumentoAuditoria_TipoOp]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante]  WITH CHECK ADD  CONSTRAINT [ch_FIR_DocumentoFirmante_Estado] CHECK  (([CodigoEstadoFirma]='OBS' OR [CodigoEstadoFirma]='FIR' OR [CodigoEstadoFirma]='PEN'))
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] CHECK CONSTRAINT [ch_FIR_DocumentoFirmante_Estado]
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante]  WITH CHECK ADD  CONSTRAINT [ch_FIR_DocumentoFirmante_Rol] CHECK  (([CodigoRolFirmante]='VB' OR [CodigoRolFirmante]='CON' OR [CodigoRolFirmante]='AUT'))
GO
ALTER TABLE [dbo].[FIR_DocumentoFirmante] CHECK CONSTRAINT [ch_FIR_DocumentoFirmante_Rol]
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor]  WITH CHECK ADD  CONSTRAINT [ch_FIR_DocumentoRevisor_Resultado] CHECK  (([CodigoResultado]='CONF' OR [CodigoResultado]='OBS' OR [CodigoResultado] IS NULL))
GO
ALTER TABLE [dbo].[FIR_DocumentoRevisor] CHECK CONSTRAINT [ch_FIR_DocumentoRevisor_Resultado]
GO
ALTER TABLE [dbo].[FIR_UsuarioRol]  WITH CHECK ADD  CONSTRAINT [ch_FIR_UsuarioRol_Rol] CHECK  (([CodigoRol]='FIRMADOR' OR [CodigoRol]='REVISOR' OR [CodigoRol]='REGISTRADOR' OR [CodigoRol]='ADMIN'))
GO
ALTER TABLE [dbo].[FIR_UsuarioRol] CHECK CONSTRAINT [ch_FIR_UsuarioRol_Rol]
GO
/****** Object:  StoredProcedure [dbo].[FIR_I_Auditoria]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_I_Auditoria]
    @IDDocumento   INT           = NULL,
    @IDUsuario     VARCHAR(15),
    @NombreUsuario VARCHAR(200)  = NULL,
    @IDEquipo      VARCHAR(50)   = NULL,
    @TipoOperacion CHAR(1)       = NULL,
    @TipoAccion    VARCHAR(100),
    @Descripcion   VARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.FIR_DocumentoAuditoria
        (IDDocumento,IDUsuario,NombreUsuario,IDEquipo,
         TipoOperacion,TipoAccion,Descripcion,FechaCambio)
    VALUES
        (@IDDocumento,@IDUsuario,@NombreUsuario,@IDEquipo,
         @TipoOperacion,@TipoAccion,@Descripcion,GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_I_Conformidad]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_I_Conformidad]
    @IDDocumento   INT,
    @LoginUsuario  VARCHAR(15),
    @NombreRevisor VARCHAR(200),
    @Comentario    VARCHAR(1000) = 'CONFORME',
    @IDEquipo      VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Version INT;
    SELECT @Version=Version FROM dbo.FIR_Documento WHERE IDDocumento=@IDDocumento;

    INSERT INTO dbo.FIR_Conformidad
        (IDDocumento,LoginUsuario,NombreRevisor,Comentario,
         Version,IDUsuarioCreador,FechaCreacion)
    VALUES (@IDDocumento,@LoginUsuario,@NombreRevisor,@Comentario,
            @Version,@LoginUsuario,GETDATE());

    UPDATE dbo.FIR_DocumentoRevisor
    SET Completado=1, CodigoResultado='CONF',
        FechaRevision=GETDATE(),
        IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
    WHERE IDDocumento=@IDDocumento AND LoginUsuario=@LoginUsuario AND Version=@Version;

    INSERT INTO dbo.FIR_DocumentoAuditoria
        (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
    VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'I','CONFORMIDAD',
            'Revisor registro conformidad v'+CAST(@Version AS VARCHAR));
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_I_Documento_OUT]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FIR_I_Documento_OUT]
    @Asunto              VARCHAR(300),
    @CodigoTipoDocumento VARCHAR(20),
    @AreaResponsable     VARCHAR(150),
    @FechaDocumento      DATE,
    @CodigoDocumento     VARCHAR(50),
    @RutaArchivoPDF      VARCHAR(500),
    @IDArchivoPDF        INT           = NULL,
    @Orientacion         CHAR(1)       = 'V',
    @LoginRegistrador    VARCHAR(15),
    @IDEquipo            VARCHAR(50),
    @FechaLimiteRevision SMALLDATETIME = NULL,
    @IDDocumento         INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF @CodigoTipoDocumento = 'ACT'
        SET @Orientacion = 'H';

    INSERT INTO dbo.FIR_Documento
        (Asunto, CodigoTipoDocumento, AreaResponsable, FechaDocumento,
         CodigoDocumento, RutaArchivoPDF, IDArchivoPDF, Orientacion,
         CodigoEstado, Version, LoginRegistrador, IDUsuarioCreador,
         FechaCreacion, FechaLimiteRevision)
    VALUES
        (@Asunto, @CodigoTipoDocumento, @AreaResponsable, @FechaDocumento,
         @CodigoDocumento, @RutaArchivoPDF, @IDArchivoPDF, @Orientacion,
         'REG', 1, @LoginRegistrador, @LoginRegistrador,
         GETDATE(), @FechaLimiteRevision);

    SET @IDDocumento = SCOPE_IDENTITY();

    INSERT INTO dbo.FIR_VersionDocumento
        (IDDocumento, NumeroVersion, RutaArchivo, Motivo, IDUsuarioCreador)
    VALUES (@IDDocumento, 1, @RutaArchivoPDF, 'Version inicial', 
            @LoginRegistrador);

    INSERT INTO dbo.FIR_DocumentoAuditoria
        (IDDocumento, IDUsuario, IDEquipo, TipoOperacion, TipoAccion, Descripcion)
    VALUES (@IDDocumento, @LoginRegistrador, @IDEquipo, 'I', 'REGISTRO',
            'Documento registrado. Estado: Registrado');
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_I_DocumentoFirmante]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_I_DocumentoFirmante]
    @IDDocumento       INT,
    @LoginUsuario      VARCHAR(15),
    @NombreFirmante    VARCHAR(200),
    @CorreoFirmante    VARCHAR(200),
    @OrdenFirma        INT,
    @CodigoRolFirmante VARCHAR(20) = 'VB',
    @IDUsuarioCreador  VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.FIR_DocumentoFirmante
        (IDDocumento,LoginUsuario,NombreFirmante,CorreoFirmante,
         OrdenFirma,CodigoRolFirmante,CodigoEstadoFirma,
         Habilitado,IDUsuarioCreador,FechaCreacion)
    VALUES
        (@IDDocumento,@LoginUsuario,@NombreFirmante,@CorreoFirmante,
         @OrdenFirma,@CodigoRolFirmante,'PEN',
         0,@IDUsuarioCreador,GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_I_DocumentoRevisor]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_I_DocumentoRevisor]
    @IDDocumento      INT,
    @LoginUsuario     VARCHAR(15),
    @NombreRevisor    VARCHAR(200),
    @CorreoRevisor    VARCHAR(200),
    @DiasMaxRevision  INT,
    @Version          INT = 1,
    @IDUsuarioCreador VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.FIR_DocumentoRevisor
        (IDDocumento,LoginUsuario,NombreRevisor,CorreoRevisor,
         DiasMaxRevision,FechaLimite,Completado,Version,
         IDUsuarioCreador,FechaCreacion)
    VALUES
        (@IDDocumento,@LoginUsuario,@NombreRevisor,@CorreoRevisor,
         @DiasMaxRevision,DATEADD(DAY,@DiasMaxRevision,GETDATE()),
         0,@Version,@IDUsuarioCreador,GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_I_Observacion]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_I_Observacion]
    @IDDocumento   INT,
    @LoginUsuario  VARCHAR(15),
    @NombreRevisor VARCHAR(200),
    @Descripcion   VARCHAR(2000),
    @IDEquipo      VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Version INT;
    SELECT @Version=Version FROM dbo.FIR_Documento WHERE IDDocumento=@IDDocumento;

    INSERT INTO dbo.FIR_Observacion
        (IDDocumento,LoginUsuario,NombreRevisor,Descripcion,
         Version,IDUsuarioCreador,FechaCreacion)
    VALUES (@IDDocumento,@LoginUsuario,@NombreRevisor,@Descripcion,
            @Version,@LoginUsuario,GETDATE());

    UPDATE dbo.FIR_DocumentoRevisor
    SET Completado=1, CodigoResultado='OBS',
        FechaRevision=GETDATE(),
        IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
    WHERE IDDocumento=@IDDocumento AND LoginUsuario=@LoginUsuario AND Version=@Version;

    UPDATE dbo.FIR_Documento
    SET CodigoEstado='OBS', FechaUltimaAccion=GETDATE(),
        IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
    WHERE IDDocumento=@IDDocumento;

    INSERT INTO dbo.FIR_DocumentoAuditoria
        (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
    VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','OBSERVACION',
            'Revisor registro observacion v'+CAST(@Version AS VARCHAR));
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_S_AlertaRevisorPendiente]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_S_AlertaRevisorPendiente]
    @LoginUsuario VARCHAR(15) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT dr.IDDocumentoRevisor, dr.IDDocumento,
           d.Asunto, d.CodigoDocumento,
           dr.LoginUsuario, dr.NombreRevisor, dr.CorreoRevisor,
           dr.FechaLimite,
           DATEDIFF(DAY,dr.FechaLimite,GETDATE()) AS DiasVencido
    FROM dbo.FIR_DocumentoRevisor dr
    INNER JOIN dbo.FIR_Documento d ON dr.IDDocumento=d.IDDocumento
    WHERE dr.Completado=0
      AND dr.FechaLimite < GETDATE()
      AND d.CodigoEstado='EN_REV'
      AND dr.Version=d.Version
      AND (@LoginUsuario IS NULL OR dr.LoginUsuario=@LoginUsuario)
    ORDER BY dr.FechaLimite;
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_S_DescargaDocumento]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_S_DescargaDocumento]
    @IDDocumento  INT,
    @LoginUsuario VARCHAR(15)
AS
BEGIN
    SET NOCOUNT OFF;
    -- RN03: solo firmantes que ya firmaron o el registrador pueden descargar
    -- y solo cuando el documento esta FIRM_COM
    SELECT d.IDDocumento, d.RutaArchivoPDF, d.CodigoDocumento, d.Asunto
    FROM dbo.FIR_Documento d
    WHERE d.IDDocumento  = @IDDocumento
      AND d.CodigoEstado = 'FIRM_COM'
      AND (
            d.LoginRegistrador = @LoginUsuario
            OR EXISTS (
                SELECT 1 FROM dbo.FIR_DocumentoFirmante df
                WHERE df.IDDocumento=d.IDDocumento
                  AND df.LoginUsuario=@LoginUsuario
                  AND df.CodigoEstadoFirma='FIR'
            )
          );
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_S_MaestroPorTipo]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_S_MaestroPorTipo]
    @Tipo VARCHAR(50)
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT IDMaestro, Codigo, Descripcion, Orden
    FROM dbo.FIR_Maestro
    WHERE Tipo=@Tipo AND Activo=1
    ORDER BY Orden;
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_S_ObtenerSesion]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_S_ObtenerSesion]
    @LoginUsuario VARCHAR(15)
AS
BEGIN
    SET NOCOUNT OFF;
    -- PRODUCCION: usar FIR_VW_UsuarioSesion
    -- DESARROLLO: cambiar a FIR_VW_UsuarioSesionPrueba
    SELECT
        LoginUsuario,
        NombreCompleto,
        Email,
        CodigoRol,
        DescripcionRol,
        UrlDashboard
    FROM dbo.FIR_VW_UsuarioSesion
    WHERE LoginUsuario = @LoginUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_S_UsuariosPrueba]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_S_UsuariosPrueba]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT LoginUsuario, NombreCompleto, Email, CodigoRol
    FROM dbo.FIR_UsuarioPrueba
    WHERE Activo=1
    ORDER BY NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_U_DocumentoCorreccion]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_U_DocumentoCorreccion]
    @IDDocumento  INT,
    @NuevaRuta    VARCHAR(500),
    @LoginUsuario VARCHAR(15),
    @IDEquipo     VARCHAR(50),
    @Motivo       VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NuevaVersion INT;
    SELECT @NuevaVersion=Version+1 FROM dbo.FIR_Documento WHERE IDDocumento=@IDDocumento;

    UPDATE dbo.FIR_Documento
    SET RutaArchivoPDF=@NuevaRuta, Version=@NuevaVersion, CodigoEstado='EN_REV',
        FechaUltimaAccion=GETDATE(),
        IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
    WHERE IDDocumento=@IDDocumento;

    INSERT INTO dbo.FIR_VersionDocumento
        (IDDocumento,NumeroVersion,RutaArchivo,Motivo,IDUsuarioCreador)
    VALUES (@IDDocumento,@NuevaVersion,@NuevaRuta,@Motivo,@LoginUsuario);

    UPDATE dbo.FIR_DocumentoRevisor
    SET Completado=0, CodigoResultado=NULL, FechaRevision=NULL,
        Version=@NuevaVersion,
        FechaLimite=DATEADD(DAY,DiasMaxRevision,GETDATE()),
        IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
    WHERE IDDocumento=@IDDocumento;

    INSERT INTO dbo.FIR_DocumentoAuditoria
        (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
    VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','CORRECCION',
            'Version '+CAST(@NuevaVersion AS VARCHAR)+' subida. Revision reiniciada.');
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_U_IniciarRevision]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_U_IniciarRevision]
    @IDDocumento  INT,
    @LoginUsuario VARCHAR(15),
    @IDEquipo     VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.FIR_Documento
    SET CodigoEstado='EN_REV', FechaUltimaAccion=GETDATE(),
        IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
    WHERE IDDocumento=@IDDocumento;

    INSERT INTO dbo.FIR_DocumentoAuditoria
        (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
    VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','INICIO_REVISION',
            'Revisores y firmantes definidos. Estado: En Revision');
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_X_IniciarFirmado_OUT]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_X_IniciarFirmado_OUT]
    @IDDocumento  INT,
    @LoginUsuario VARCHAR(15),
    @IDEquipo     VARCHAR(50),
    @Iniciado     BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Iniciado = 0;

    DECLARE @Estado VARCHAR(20);
    SELECT @Estado = CodigoEstado FROM dbo.FIR_Documento WHERE IDDocumento=@IDDocumento;

    -- Solo aplica si el documento esta en APR_FIRMA
    IF @Estado = 'APR_FIRMA'
    BEGIN
        UPDATE dbo.FIR_Documento
        SET CodigoEstado='EN_FIRMA', FechaUltimaAccion=GETDATE(),
            IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
        WHERE IDDocumento=@IDDocumento;

        INSERT INTO dbo.FIR_DocumentoAuditoria
            (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
        VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','INICIO_FIRMADO',
                'Primer firmante inicio proceso. Estado: En Proceso de Firma');

        SET @Iniciado = 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_X_RegistrarFirma_OUT]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_X_RegistrarFirma_OUT]
    @IDDocumento         INT,
    @IDDocumentoFirmante INT,
    @HashFirma           VARCHAR(500),
    @CertificadoSN       VARCHAR(200),
    @CertificadoDNI      VARCHAR(20),
    @MotivoFirma         VARCHAR(300),
    @FirmaValida         BIT,
    @RespuestaMotor      VARCHAR(2000),
    @RutaPDFFirmado      VARCHAR(500),
    @LoginUsuario        VARCHAR(15),
    @IDEquipo            VARCHAR(50),
    @ProcesoCompleto     BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @ProcesoCompleto=0;

    INSERT INTO dbo.FIR_FirmaDigital
        (IDDocumento,IDDocumentoFirmante,HashFirma,CertificadoSN,
         CertificadoDNI,MotivoFirma,FirmaValida,RespuestaMotorFirma,
         RutaPDFFirmado,IDUsuarioCreador,FechaCreacion)
    VALUES
        (@IDDocumento,@IDDocumentoFirmante,@HashFirma,@CertificadoSN,
         @CertificadoDNI,@MotivoFirma,@FirmaValida,@RespuestaMotor,
         @RutaPDFFirmado,@LoginUsuario,GETDATE());

    IF @FirmaValida=1
    BEGIN
        DECLARE @OrdenActual INT;
        SELECT @OrdenActual=OrdenFirma FROM dbo.FIR_DocumentoFirmante
        WHERE IDDocumentoFirmante=@IDDocumentoFirmante;

        UPDATE dbo.FIR_DocumentoFirmante
        SET CodigoEstadoFirma='FIR', FechaFirma=GETDATE(),
            RutaFirmaParcial=@RutaPDFFirmado,
            IDUsuarioModificador=@LoginUsuario, FechaModificacion=GETDATE()
        WHERE IDDocumentoFirmante=@IDDocumentoFirmante;

        IF EXISTS (SELECT 1 FROM dbo.FIR_DocumentoFirmante
                   WHERE IDDocumento=@IDDocumento AND OrdenFirma=@OrdenActual+1)
        BEGIN
            -- Hay mas firmantes: FPAR + habilitar siguiente
            UPDATE dbo.FIR_DocumentoFirmante
            SET Habilitado=1,
                IDUsuarioModificador='SISTEMA', FechaModificacion=GETDATE()
            WHERE IDDocumento=@IDDocumento AND OrdenFirma=@OrdenActual+1;

            UPDATE dbo.FIR_Documento
            SET CodigoEstado='FPAR', FechaUltimaAccion=GETDATE(),
                IDUsuarioModificador='SISTEMA', FechaModificacion=GETDATE()
            WHERE IDDocumento=@IDDocumento;

            INSERT INTO dbo.FIR_DocumentoAuditoria
                (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
            VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','FIRMA_REGISTRADA',
                    'Firma orden '+CAST(@OrdenActual AS VARCHAR)+' validada. Firmante '+
                    CAST(@OrdenActual+1 AS VARCHAR)+' habilitado. Estado: Firmado Parcialmente');
        END
        ELSE
        BEGIN
            -- Ultimo firma: FIRM_COM + documento bloqueado
            UPDATE dbo.FIR_Documento
            SET CodigoEstado='FIRM_COM', RutaArchivoPDF=@RutaPDFFirmado,
                FechaUltimaAccion=GETDATE(),
                IDUsuarioModificador='SISTEMA', FechaModificacion=GETDATE()
            WHERE IDDocumento=@IDDocumento;

            INSERT INTO dbo.FIR_DocumentoAuditoria
                (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
            VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','FIRMADO_COMPLETO',
                    'Ultimo firmante completo. Documento firmado y bloqueado. Estado: FIRM_COM');

            SET @ProcesoCompleto=1;
        END
    END
    ELSE
    BEGIN
        UPDATE dbo.FIR_DocumentoFirmante
        SET CodigoEstadoFirma='OBS',
            IDUsuarioModificador='SISTEMA', FechaModificacion=GETDATE()
        WHERE IDDocumentoFirmante=@IDDocumentoFirmante;

        INSERT INTO dbo.FIR_DocumentoAuditoria
            (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
        VALUES (@IDDocumento,@LoginUsuario,@IDEquipo,'M','FIRMA_INVALIDA',
                'Firma rechazada. Motor: '+ISNULL(@RespuestaMotor,'Sin respuesta'));
    END
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_X_RevisionCierre_OUT]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_X_RevisionCierre_OUT]
    @IDDocumento INT,
    @Cerrado     BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Cerrado=0;

    DECLARE @Version INT, @Total INT, @Conformes INT;
    SELECT @Version=Version FROM dbo.FIR_Documento WHERE IDDocumento=@IDDocumento;

    SELECT @Total=COUNT(*) FROM dbo.FIR_DocumentoRevisor
    WHERE IDDocumento=@IDDocumento AND Version=@Version;

    SELECT @Conformes=COUNT(*) FROM dbo.FIR_DocumentoRevisor
    WHERE IDDocumento=@IDDocumento AND Version=@Version
      AND Completado=1 AND CodigoResultado='CONF';

    IF @Total>0 AND @Total=@Conformes
    BEGIN
        UPDATE dbo.FIR_Documento
        SET CodigoEstado='APR_FIRMA', FechaUltimaAccion=GETDATE(),
            IDUsuarioModificador='SISTEMA', FechaModificacion=GETDATE()
        WHERE IDDocumento=@IDDocumento;

        -- Habilitar primer firmante
        UPDATE dbo.FIR_DocumentoFirmante
        SET Habilitado=1,
            IDUsuarioModificador='SISTEMA', FechaModificacion=GETDATE()
        WHERE IDDocumento=@IDDocumento
          AND OrdenFirma=(SELECT MIN(OrdenFirma) FROM dbo.FIR_DocumentoFirmante
                          WHERE IDDocumento=@IDDocumento);

        INSERT INTO dbo.FIR_DocumentoAuditoria
            (IDDocumento,IDUsuario,IDEquipo,TipoOperacion,TipoAccion,Descripcion)
        VALUES (@IDDocumento,'SISTEMA',NULL,'M','CIERRE_REVISION',
                'Todos los revisores conformes. Estado: Aprobado para Firma.');

        SET @Cerrado=1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[FIR_XS_DocumentoDetalle]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIR_XS_DocumentoDetalle]
    @IDDocumento INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT d.*, m_e.Descripcion AS Estado, m_t.Descripcion AS TipoDocumento
    FROM dbo.FIR_Documento d
    LEFT JOIN dbo.FIR_Maestro m_e ON m_e.Tipo='ESTADO_DOC' AND m_e.Codigo=d.CodigoEstado
    LEFT JOIN dbo.FIR_Maestro m_t ON m_t.Tipo='TIPO_DOC'   AND m_t.Codigo=d.CodigoTipoDocumento
    WHERE d.IDDocumento=@IDDocumento;

    SELECT * FROM dbo.FIR_DocumentoRevisor
    WHERE IDDocumento=@IDDocumento ORDER BY IDDocumentoRevisor;

    SELECT df.*, m_r.Descripcion AS RolFirmante, m_e.Descripcion AS EstadoFirma
    FROM dbo.FIR_DocumentoFirmante df
    LEFT JOIN dbo.FIR_Maestro m_r ON m_r.Tipo='ROL_FIRMANTE' AND m_r.Codigo=df.CodigoRolFirmante
    LEFT JOIN dbo.FIR_Maestro m_e ON m_e.Tipo='ESTADO_FIRMA' AND m_e.Codigo=df.CodigoEstadoFirma
    WHERE df.IDDocumento=@IDDocumento ORDER BY df.OrdenFirma;

    SELECT * FROM dbo.FIR_Observacion
    WHERE IDDocumento=@IDDocumento ORDER BY FechaCreacion DESC;

    SELECT * FROM dbo.FIR_Conformidad
    WHERE IDDocumento=@IDDocumento ORDER BY FechaCreacion DESC;

    SELECT * FROM dbo.FIR_FirmaDigital
    WHERE IDDocumento=@IDDocumento ORDER BY FechaCreacion;

    SELECT * FROM dbo.FIR_VersionDocumento
    WHERE IDDocumento=@IDDocumento ORDER BY NumeroVersion;

    SELECT * FROM dbo.FIR_DocumentoAuditoria
    WHERE IDDocumento=@IDDocumento ORDER BY FechaCambio DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GEN_X_EnviarMail]    Script Date: 29/04/2026 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GEN_X_EnviarMail]
    @Para    VARCHAR(500),
    @CCO     VARCHAR(500) = '',
    @Asunto  VARCHAR(300),
    @Mensaje VARCHAR(MAX),
    @Adjunto VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    -- Autocompletar dominio corporativo si no tiene @
    IF CHARINDEX('@', @Para) = 0
    BEGIN
        SET @Para = REPLACE(@Para, ';', '@zofratacna.com.pe;') + '@zofratacna.com.pe';
        IF LEFT(@Para,1) = ';' SET @Para = SUBSTRING(@Para,2,500);
    END
    IF LEN(ISNULL(@CCO,'')) > 0 AND CHARINDEX('@', @CCO) = 0
    BEGIN
        SET @CCO = REPLACE(@CCO, ';', '@zofratacna.com.pe;') + '@zofratacna.com.pe';
        IF LEFT(@CCO,1) = ';' SET @CCO = SUBSTRING(@CCO,2,500);
    END

    EXEC msdb.dbo.sp_send_dbmail
        @profile_name          = 'Administrador SQL',
        @recipients            = @Para,
        @blind_copy_recipients = @CCO,
        @subject               = @Asunto,
        @body                  = @Mensaje,
        @body_format           = 'HTML',
        @file_attachments      = @Adjunto;
END
GO
